<?xml version="1.0" encoding="UTF-8"?>
<configuration packagingData="true">

    <!--
        %d{yyyy-MM-dd HH:mm:ss.SSS} = data con millisecondi
        [%thread] = thread
        %logger{35} = classe
        %-5level = livello di log
        %msg%n = messaggio e parametri aggiuntivi
    -->
    <property name="logpattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} | %-20.20thread | %-5level | %-5.5line | %-20.20logger{0} | %msg%n"/>

    <!--
    - %dbdate |
    - %-10mdc{instanceId}:%-15.15thread |
    %-5mdc{serviceId}:%-15mdc{processId} |
    %-40.40mdc{activityId}:%-15.15mdc{payloadId} |
    %-48.48mdc{mqmdMessageId} |
    %-100.100mdc{commId} |
    %-9.9mdc{restarted} |
    - %-5level |
    - %-30.30logger{0} |
    - %msg |
    %mdc{additionalInfo}%n
    -->

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%-20.20logger{0}|%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="html2pop3log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>html2pop3.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>html2pop3.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>20</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>${logpattern}</pattern>
        </encoder>
    </appender>

    <logger name="it.baccan" level="debug" additivity="false">
        <appender-ref ref="console" />
        <appender-ref ref="html2pop3log" />
    </logger>

    <root level="error">
        <appender-ref ref="console" />
    </root>

    <logger name="org.apache.http.client.protocol" level="info" additivity="false">
        <appender-ref ref="html2pop3log" />
    </logger>

</configuration>
