name: Email.it plugin check

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '0 1 * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout sources
      uses: actions/checkout@v6

    - name: Set up JDK 11
      uses: actions/setup-java@v5
      with:
        distribution: 'adopt' # See 'Supported distributions' for available options
        java-version: 11

    - name: Build with Maven
      run:
        mvn -B package --file pom.xml

    - name: Test plugin Email.it
      run:
        java -cp /home/runner/work/html2pop3/html2pop3/target/HTML2POP3-3.1.0-jar-with-dependencies.jar  it.baccan.html2pop3.utils.PluginTester ${{ secrets.EMAILIT_USER }} ${{ secrets.EMAILIT_PWD }}
