name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout sources
      uses: actions/checkout@v2
    
    - name: Set up JDK 1.8
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt' # See 'Supported distributions' for available options
        java-version: 8
        
    - name: Build with Maven
      run: 
        mvn -B package --file pom.xml

    - name: Test plugin Email.it
      run: 
        java -cp /home/runner/work/html2pop3/html2pop3/target/HTML2POP3-3.0.6-jar-with-dependencies.jar  it.baccan.html2pop3.utils.PluginTester ${{ secrets.EMAILIT_USER }} ${{ secrets.EMAILIT_PWD }}
